ul{
    list-style-type: none;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    margin: 5px 0;
    padding: 5px 10px;
}
button{
    background-color: blue;
    color: azure;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}