.container{
   
    display: flex;
    justify-content: center;
    
}
.btn{
    margin:15px;
    border: 2px solid yellowgreen;
    background-color: rgb(128, 17, 225);
    color: aliceblue;
    padding: 10px;
    border-radius: 15px;
}
h1{
   display: flex;
    justify-content: center;
}
p{
    text-align: center;
}