.flowers-container{
    background-color: bisque;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: lemonchiffon;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card-el{
    padding: 10px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.title{
    font-weight: 900;
}